.callout[data-callout="definition"] {
    --callout-color: 102, 0, 102;
    --callout-icon: lucide-pin;
}

.callout[data-callout="teorem"] {
    --callout-color: 255, 36, 0;
    --callout-icon: lucide-pin;
}
